In [18]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine
#postgresql://user:password@localhost:5432/databasename
engine = sqlalchemy.create_engine('postgresql://postgres:gonoles@localhost:5432/Athletes_Career_Lifetimes')

In [19]:
file = "../../Data/DataSet/NFL.csv"
nfl_df = pd.read_csv(file)
nfl_df.head()

,sport,name,first_name,last_name,birth_city,birth_state,birth_country,birth_date,college,draft_team,...,draft_year,position,height,weight,death_date,death_city,death_state,death_country,year_start,year_end
0,NFL,Isaako Aaitui,Isaako,Aaitui,NaN,NaN,NaN,1/25/1987,NaN,NaN,...,NaN,NT,4-Jun,315.0,NaN,NaN,NaN,NaN,2013,2013
1,NFL,Faye Abbott,Faye,Abbott,Clearport,OH,USA,1895-08-16,Syracuse,NaN,...,NaN,BB,8-May,182.0,1/22/1965,Dayton,OH,NaN,1921,1929
2,NFL,Vince Abbott,Vince,Abbott,London,NaN,England,5/31/1958,Washington,NaN,...,NaN,K,11-May,207.0,NaN,NaN,NaN,NaN,1921,1929
3,NFL,Duke Abbruzzi,Duke,Abbruzzi,Warren,RI,USA,8/3/1917,Rhode Island,NaN,...,NaN,HB,10-May,175.0,12/6/1982,Newport,RI,NaN,1921,1929
4,NFL,Karim Abdul-Jabbar,Karim,Abdul-Jabbar,Los Angeles,CA,USA,6/28/1974,UCLA,Miami Dolphins,...,1996.0,RB,10-May,194.0,NaN,NaN,NaN,NaN,1996,2000

In [20]:
#finding the retirement age of listed players - subtracting the end of career year with the player's birth year
nfl_df['birth_year'] = pd.DatetimeIndex(nfl_df['birth_date']).year
nfl_df.head()

,sport,name,first_name,last_name,birth_city,birth_state,birth_country,birth_date,college,draft_team,...,position,height,weight,death_date,death_city,death_state,death_country,year_start,year_end,birth_year
0,NFL,Isaako Aaitui,Isaako,Aaitui,NaN,NaN,NaN,1/25/1987,NaN,NaN,...,NT,4-Jun,315.0,NaN,NaN,NaN,NaN,2013,2013,1987.0
1,NFL,Faye Abbott,Faye,Abbott,Clearport,OH,USA,1895-08-16,Syracuse,NaN,...,BB,8-May,182.0,1/22/1965,Dayton,OH,NaN,1921,1929,1895.0
2,NFL,Vince Abbott,Vince,Abbott,London,NaN,England,5/31/1958,Washington,NaN,...,K,11-May,207.0,NaN,NaN,NaN,NaN,1921,1929,1958.0
3,NFL,Duke Abbruzzi,Duke,Abbruzzi,Warren,RI,USA,8/3/1917,Rhode Island,NaN,...,HB,10-May,175.0,12/6/1982,Newport,RI,NaN,1921,1929,1917.0
4,NFL,Karim Abdul-Jabbar,Karim,Abdul-Jabbar,Los Angeles,CA,USA,6/28/1974,UCLA,Miami Dolphins,...,RB,10-May,194.0,NaN,NaN,NaN,NaN,1996,2000,1974.0

In [21]:
#create column for retirement age
nfl_df['retire_age'] = nfl_df['year_end'] - nfl_df['birth_year']
nfl_df.head()

,sport,name,first_name,last_name,birth_city,birth_state,birth_country,birth_date,college,draft_team,...,height,weight,death_date,death_city,death_state,death_country,year_start,year_end,birth_year,retire_age
0,NFL,Isaako Aaitui,Isaako,Aaitui,NaN,NaN,NaN,1/25/1987,NaN,NaN,...,4-Jun,315.0,NaN,NaN,NaN,NaN,2013,2013,1987.0,26.0
1,NFL,Faye Abbott,Faye,Abbott,Clearport,OH,USA,1895-08-16,Syracuse,NaN,...,8-May,182.0,1/22/1965,Dayton,OH,NaN,1921,1929,1895.0,34.0
2,NFL,Vince Abbott,Vince,Abbott,London,NaN,England,5/31/1958,Washington,NaN,...,11-May,207.0,NaN,NaN,NaN,NaN,1921,1929,1958.0,-29.0
3,NFL,Duke Abbruzzi,Duke,Abbruzzi,Warren,RI,USA,8/3/1917,Rhode Island,NaN,...,10-May,175.0,12/6/1982,Newport,RI,NaN,1921,1929,1917.0,12.0
4,NFL,Karim Abdul-Jabbar,Karim,Abdul-Jabbar,Los Angeles,CA,USA,6/28/1974,UCLA,Miami Dolphins,...,10-May,194.0,NaN,NaN,NaN,NaN,1996,2000,1974.0,26.0

In [22]:
#filter retirement ages for those who started career before 1970
nfl_df = nfl_df[nfl_df['year_start'] >= 1970]
nfl_df.head(30)

,sport,name,first_name,last_name,birth_city,birth_state,birth_country,birth_date,college,draft_team,...,height,weight,death_date,death_city,death_state,death_country,year_start,year_end,birth_year,retire_age
0,NFL,Isaako Aaitui,Isaako,Aaitui,NaN,NaN,NaN,1/25/1987,NaN,NaN,...,4-Jun,315.0,NaN,NaN,NaN,NaN,2013,2013,1987.0,26.0
4,NFL,Karim Abdul-Jabbar,Karim,Abdul-Jabbar,Los Angeles,CA,USA,6/28/1974,UCLA,Miami Dolphins,...,10-May,194.0,NaN,NaN,NaN,NaN,1996,2000,1974.0,26.0
5,NFL,Isa Abdul-Quddus,Isa,Abdul-Quddus,NaN,NaN,NaN,8/3/1989,Fordham,NaN,...,1-Jun,220.0,NaN,NaN,NaN,NaN,1996,2000,1989.0,11.0
6,NFL,Hamza Abdullah,Hamza,Abdullah,Los Angeles,CA,USA,8/20/1983,Washington St.,Tampa Bay Buccaneers,...,2-Jun,213.0,NaN,NaN,NaN,NaN,1996,2000,1983.0,17.0
7,NFL,Husain Abdullah,Husain,Abdullah,Los Angeles,CA,USA,7/27/1985,Washington St.,NaN,...,Jun-00,204.0,NaN,NaN,NaN,NaN,1996,2000,1985.0,15.0
8,NFL,Khalid Abdullah,Khalid,Abdullah,Jacksonville,FL,USA,3/6/1979,Mars Hill,Cincinnati Bengals,...,2-Jun,227.0,NaN,NaN,NaN,NaN,1996,2000,1979.0,21.0
9,NFL,Rabih Abdullah,Rabih,Abdullah,Martinsville,VA,USA,4/27/1975,Lehigh,NaN,...,Jun-00,220.0,NaN,NaN,NaN,NaN,1996,2000,1975.0,25.0
10,NFL,Rahim Abdullah,Rahim,Abdullah,Jacksonville,FL,USA,3/22/1976,Clemson,Cleveland Browns,...,5-Jun,233.0,NaN,NaN,NaN,NaN,1996,2000,1976.0,24.0
15,NFL,Victor Abiamiri,Victor,Abiamiri,Baltimore,MD,USA,1/14/1986,Notre Dame,Philadelphia Eagles,...,4-Jun,267.0,NaN,NaN,NaN,NaN,2007,2011,1986.0,25.0
16,NFL,Oday Aboushi,Oday,Aboushi,NaN,NaN,NaN,6/5/1991,Virginia,New York Jets,...,5-Jun,308.0,NaN,NaN,NaN,NaN,2013,2013,1991.0,22.0
17,NFL,Clifton Abraham,Clifton,Abraham,Dallas,TX,USA,12/9/1971,Florida St.,Tampa Bay Buccaneers,...,9-May,184.0,NaN,NaN,NaN,NaN,1995,1997,1971.0,26.0
18,NFL,Donnie Abraham,Donnie,Abraham,Orangeburg,SC,USA,10/8/1973,East Tennessee St.,Tampa Bay Buccaneers,...,10-May,190.0,NaN,NaN,NaN,NaN,1995,1997,1973.0,24.0
19,NFL,John Abraham,John,Abraham,Timmonsville,SC,USA,5/6/1978,South Carolina,New York Jets,...,4-Jun,256.0,NaN,NaN,NaN,NaN,1995,1997,1978.0,19.0
20,NFL,Robert Abraham,Robert,Abraham,Myrtle Beach,SC,USA,7/13/1960,North Carolina St.,Houston Oilers,...,1-Jun,228.0,NaN,NaN,NaN,NaN,1995,1997,1960.0,37.0
21,NFL,Danny Abramowicz,Danny,Abramowicz,Steubenville,OH,USA,7/13/1945,Xavier (OH),New Orleans Saints,...,1-Jun,195.0,NaN,NaN,NaN,NaN,1995,1997,1945.0,52.0
22,NFL,Sid Abramowitz,Sid,Abramowitz,Culver City,CA,USA,5/21/1960,Air Force,Baltimore Colts,...,6-Jun,280.0,NaN,NaN,NaN,NaN,1995,1997,1960.0,37.0
23,NFL,Bobby Abrams,Bobby,Abrams,Detroit,MI,USA,4/12/1967,Michigan,NaN,...,3-Jun,240.0,NaN,NaN,NaN,NaN,1995,1997,1967.0,30.0
24,NFL,Kevin Abrams,Kevin,Abrams,Tampa,FL,USA,2/28/1974,Syracuse,Detroit Lions,...,8-May,175.0,NaN,NaN,NaN,NaN,1995,1997,1974.0,23.0
25,NFL,Nate Abrams,Nate,Abrams,Green Bay,WI,USA,1897-12-25,none,NaN,...,4-May,145.0,4/30/1941,Green Bay,WI,NaN,1995,1997,1897.0,100.0
26,NFL,George Abramson,George,Abramson,Eveleth,MN,USA,5/13/1903,Minnesota,NaN,...,7-May,198.0,3/15/1985,Beverly Hills,CA,NaN,1995,1997,1903.0,94.0
27,NFL,Dick Abrell,Dick,Abrell,Linton,IN,USA,1892-05-18,Purdue,NaN,...,10-May,172.0,5/5/1973,West Orange,NJ,NaN,1995,1997,1892.0,105.0
28,NFL,Ray Abruzzese,Ray,Abruzzese,Philadelphia,PA,USA,10/27/1937,Alabama,Buffalo Bills,...,1-Jun,194.0,8/22/2011,Fort Lauderdale,FL,NaN,1995,1997,1937.0,60.0
29,NFL,Frank Abruzzino,Frank,Abruzzino,Shinnston,WV,USA,1/22/1908,Colgate,NaN,...,Jun-00,193.0,6/13/1986,Dade County,FL,NaN,1995,1997,1908.0,89.0
31,NFL,Steve Ache,Steve,Ache,Syracuse,NY,USA,3/16/1962,SW Missouri St.,NaN,...,3-Jun,229.0,NaN,NaN,NaN,NaN,1987,1987,1962.0,25.0
32,NFL,George Achica,George,Achica,NaN,NaN,NaN,12/19/1960,USC,Baltimore Colts,...,5-Jun,260.0,NaN,NaN,NaN,NaN,1987,1987,1960.0,27.0
33,NFL,Sneeze Achiu,Sneeze,Achiu,Honolulu,HI,USA,8/3/1902,Hawaii,NaN,...,8-May,169.0,3/21/1989,Eugene,OR,NaN,1987,1987,1902.0,85.0
34,NFL,Emmanuel Acho,Emmanuel,Acho,NaN,NaN,NaN,11/10/1990,Texas,Cleveland Browns,...,1-Jun,238.0,NaN,NaN,NaN,NaN,1987,1987,1990.0,-3.0
35,NFL,Sam Acho,Sam,Acho,NaN,NaN,NaN,9/6/1988,Texas,Arizona Cardinals,...,2-Jun,262.0,NaN,NaN,NaN,NaN,1987,1987,1988.0,-1.0
36,NFL,Bill Acker,Bill,Acker,Freer,TX,USA,11/7/1956,Texas,St. Louis Cardinals,...,3-Jun,255.0,NaN,NaN,NaN,NaN,1980,1987,1956.0,31.0
37,NFL,Rick Ackerman,Rick,Ackerman,La Grange,IL,USA,6/16/1959,Memphis,NaN,...,4-Jun,258.0,NaN,NaN,NaN,NaN,1980,1987,1959.0,28.0

In [23]:
#filter retirement ages for those who were born before 1970
nfl_df = nfl_df[nfl_df['birth_year'] >= 1970]
nfl_df.head()

,sport,name,first_name,last_name,birth_city,birth_state,birth_country,birth_date,college,draft_team,...,height,weight,death_date,death_city,death_state,death_country,year_start,year_end,birth_year,retire_age
0,NFL,Isaako Aaitui,Isaako,Aaitui,NaN,NaN,NaN,1/25/1987,NaN,NaN,...,4-Jun,315.0,NaN,NaN,NaN,NaN,2013,2013,1987.0,26.0
4,NFL,Karim Abdul-Jabbar,Karim,Abdul-Jabbar,Los Angeles,CA,USA,6/28/1974,UCLA,Miami Dolphins,...,10-May,194.0,NaN,NaN,NaN,NaN,1996,2000,1974.0,26.0
5,NFL,Isa Abdul-Quddus,Isa,Abdul-Quddus,NaN,NaN,NaN,8/3/1989,Fordham,NaN,...,1-Jun,220.0,NaN,NaN,NaN,NaN,1996,2000,1989.0,11.0
6,NFL,Hamza Abdullah,Hamza,Abdullah,Los Angeles,CA,USA,8/20/1983,Washington St.,Tampa Bay Buccaneers,...,2-Jun,213.0,NaN,NaN,NaN,NaN,1996,2000,1983.0,17.0
7,NFL,Husain Abdullah,Husain,Abdullah,Los Angeles,CA,USA,7/27/1985,Washington St.,NaN,...,Jun-00,204.0,NaN,NaN,NaN,NaN,1996,2000,1985.0,15.0

In [24]:
#filter retirement ages for incorrect data
nfl_df = nfl_df[nfl_df['retire_age'] >= 18]
nfl_df.head()

,sport,name,first_name,last_name,birth_city,birth_state,birth_country,birth_date,college,draft_team,...,height,weight,death_date,death_city,death_state,death_country,year_start,year_end,birth_year,retire_age
0,NFL,Isaako Aaitui,Isaako,Aaitui,NaN,NaN,NaN,1/25/1987,NaN,NaN,...,4-Jun,315.0,NaN,NaN,NaN,NaN,2013,2013,1987.0,26.0
4,NFL,Karim Abdul-Jabbar,Karim,Abdul-Jabbar,Los Angeles,CA,USA,6/28/1974,UCLA,Miami Dolphins,...,10-May,194.0,NaN,NaN,NaN,NaN,1996,2000,1974.0,26.0
8,NFL,Khalid Abdullah,Khalid,Abdullah,Jacksonville,FL,USA,3/6/1979,Mars Hill,Cincinnati Bengals,...,2-Jun,227.0,NaN,NaN,NaN,NaN,1996,2000,1979.0,21.0
9,NFL,Rabih Abdullah,Rabih,Abdullah,Martinsville,VA,USA,4/27/1975,Lehigh,NaN,...,Jun-00,220.0,NaN,NaN,NaN,NaN,1996,2000,1975.0,25.0
10,NFL,Rahim Abdullah,Rahim,Abdullah,Jacksonville,FL,USA,3/22/1976,Clemson,Cleveland Browns,...,5-Jun,233.0,NaN,NaN,NaN,NaN,1996,2000,1976.0,24.0

In [25]:
#find career length/years played and starting age
nfl_df['years_played'] = nfl_df['year_end'] - nfl_df['year_start'] +1
nfl_df['start_age'] = nfl_df['year_start'] - nfl_df['birth_year']
nfl_df.head(30)

,sport,name,first_name,last_name,birth_city,birth_state,birth_country,birth_date,college,draft_team,...,death_date,death_city,death_state,death_country,year_start,year_end,birth_year,retire_age,years_played,start_age
0,NFL,Isaako Aaitui,Isaako,Aaitui,NaN,NaN,NaN,1/25/1987,NaN,NaN,...,NaN,NaN,NaN,NaN,2013,2013,1987.0,26.0,1,26.0
4,NFL,Karim Abdul-Jabbar,Karim,Abdul-Jabbar,Los Angeles,CA,USA,6/28/1974,UCLA,Miami Dolphins,...,NaN,NaN,NaN,NaN,1996,2000,1974.0,26.0,5,22.0
8,NFL,Khalid Abdullah,Khalid,Abdullah,Jacksonville,FL,USA,3/6/1979,Mars Hill,Cincinnati Bengals,...,NaN,NaN,NaN,NaN,1996,2000,1979.0,21.0,5,17.0
9,NFL,Rabih Abdullah,Rabih,Abdullah,Martinsville,VA,USA,4/27/1975,Lehigh,NaN,...,NaN,NaN,NaN,NaN,1996,2000,1975.0,25.0,5,21.0
10,NFL,Rahim Abdullah,Rahim,Abdullah,Jacksonville,FL,USA,3/22/1976,Clemson,Cleveland Browns,...,NaN,NaN,NaN,NaN,1996,2000,1976.0,24.0,5,20.0
15,NFL,Victor Abiamiri,Victor,Abiamiri,Baltimore,MD,USA,1/14/1986,Notre Dame,Philadelphia Eagles,...,NaN,NaN,NaN,NaN,2007,2011,1986.0,25.0,5,21.0
16,NFL,Oday Aboushi,Oday,Aboushi,NaN,NaN,NaN,6/5/1991,Virginia,New York Jets,...,NaN,NaN,NaN,NaN,2013,2013,1991.0,22.0,1,22.0
17,NFL,Clifton Abraham,Clifton,Abraham,Dallas,TX,USA,12/9/1971,Florida St.,Tampa Bay Buccaneers,...,NaN,NaN,NaN,NaN,1995,1997,1971.0,26.0,3,24.0
18,NFL,Donnie Abraham,Donnie,Abraham,Orangeburg,SC,USA,10/8/1973,East Tennessee St.,Tampa Bay Buccaneers,...,NaN,NaN,NaN,NaN,1995,1997,1973.0,24.0,3,22.0
19,NFL,John Abraham,John,Abraham,Timmonsville,SC,USA,5/6/1978,South Carolina,New York Jets,...,NaN,NaN,NaN,NaN,1995,1997,1978.0,19.0,3,17.0
24,NFL,Kevin Abrams,Kevin,Abrams,Tampa,FL,USA,2/28/1974,Syracuse,Detroit Lions,...,NaN,NaN,NaN,NaN,1995,1997,1974.0,23.0,3,21.0
93,NFL,Levy Adcock,Levy,Adcock,NaN,NaN,NaN,11/12/1988,Oklahoma St.,NaN,...,NaN,NaN,NaN,NaN,2012,2012,1988.0,24.0,1,24.0
94,NFL,Jahleel Addae,Jahleel,Addae,NaN,NaN,NaN,1/24/1990,Cental Michigan,NaN,...,NaN,NaN,NaN,NaN,2013,2013,1990.0,23.0,1,23.0
95,NFL,Joseph Addai,Joseph,Addai,Houston,TX,USA,5/3/1983,LSU,Indianapolis Colts,...,NaN,NaN,NaN,NaN,2013,2013,1983.0,30.0,1,30.0
98,NFL,Mario Addison,Mario,Addison,NaN,NaN,NaN,11/30/1989,Troy,NaN,...,NaN,NaN,NaN,NaN,2013,2013,1989.0,24.0,1,24.0
101,NFL,Victor Adeyanju,Victor,Adeyanju,NaN,NaN,NaN,2/11/1983,Indiana,St. Louis Rams,...,NaN,NaN,NaN,NaN,2006,2009,1983.0,26.0,4,23.0
102,NFL,Xavier Adibi,Xavier,Adibi,Stillwater,OK,USA,10/18/1984,Virginia Tech,Houston Texans,...,NaN,NaN,NaN,NaN,2008,2012,1984.0,28.0,5,24.0
112,NFL,Daniel Adongo,Daniel,Adongo,NaN,NaN,NaN,10/12/1989,Pretoria,NaN,...,NaN,NaN,NaN,NaN,2013,2013,1989.0,24.0,1,24.0
113,NFL,Al Afalava,Al,Afalava,Laie,HI,USA,1/20/1987,Oregon St.,Chicago Bears,...,NaN,NaN,NaN,NaN,2009,2012,1987.0,25.0,4,22.0
118,NFL,Louis Age,Louis,Age,New Orleans,LA,USA,2/1/1970,La-Lafayette,Chicago Bears,...,NaN,NaN,NaN,NaN,1992,1992,1970.0,22.0,1,22.0
127,NFL,C.J. Ah You,C.J.,Ah,LaHabra,CA,USA,7/7/1982,Oklahoma,Buffalo Bills,...,NaN,NaN,NaN,NaN,2009,2011,1982.0,29.0,3,27.0
128,NFL,Chidi Ahanotu,Chidi,Ahanotu,Modesto,CA,USA,10/11/1970,California,Tampa Bay Buccaneers,...,NaN,NaN,NaN,NaN,1993,2004,1970.0,34.0,12,23.0
132,NFL,Danny Aiken,Danny,Aiken,NaN,NaN,NaN,8/28/1988,Virginia,NaN,...,NaN,NaN,NaN,NaN,2011,2013,1988.0,25.0,3,23.0
133,NFL,Kamar Aiken,Kamar,Aiken,NaN,NaN,NaN,5/30/1989,Central Florida,NaN,...,NaN,NaN,NaN,NaN,2011,2013,1989.0,24.0,3,22.0
134,NFL,Sam Aiken,Sam,Aiken,Kenansville,NC,USA,12/14/1980,North Carolina,Buffalo Bills,...,NaN,NaN,NaN,NaN,2011,2013,1980.0,33.0,3,31.0
139,NFL,Victor Aiyewa,Victor,Aiyewa,NaN,NaN,NaN,2/4/1987,NaN,NaN,...,NaN,NaN,NaN,NaN,2013,2013,1987.0,26.0,1,26.0
140,NFL,Seyi Ajirotutu,Seyi,Ajirotutu,El Dorado Hills,CA,USA,6/12/1987,Fresno St.,NaN,...,NaN,NaN,NaN,NaN,2010,2013,1987.0,26.0,4,23.0
141,NFL,Hakim Akbar,Hakim,Akbar,Riverside,CA,USA,8/11/1980,Washington,New England Patriots,...,NaN,NaN,NaN,NaN,2001,2002,1980.0,22.0,2,21.0
142,NFL,David Akers,David,Akers,Lexington,KY,USA,12/9/1974,Louisville,NaN,...,NaN,NaN,NaN,NaN,1998,2013,1974.0,39.0,16,24.0
149,NFL,Anthony Alabi,Anthony,Alabi,San Antonio,TX,USA,2/16/1981,TCU,Miami Dolphins,...,NaN,NaN,NaN,NaN,2006,2007,1981.0,26.0,2,25.0

In [26]:
nfl_df = nfl_df.drop(columns=['first_name', 'last_name', 'birth_year', 'birth_city', 'birth_state', 'birth_country', 'birth_date', 'college', 'draft_team', 'draft_round', 'draft_pick', 'draft_year', 'height', 'weight', 'death_date', 'death_city', 'death_state', 'death_country'])
nfl_df.head(30)

,sport,name,position,year_start,year_end,retire_age,years_played,start_age
0,NFL,Isaako Aaitui,NT,2013,2013,26.0,1,26.0
4,NFL,Karim Abdul-Jabbar,RB,1996,2000,26.0,5,22.0
8,NFL,Khalid Abdullah,LB,1996,2000,21.0,5,17.0
9,NFL,Rabih Abdullah,RB,1996,2000,25.0,5,21.0
10,NFL,Rahim Abdullah,LB,1996,2000,24.0,5,20.0
15,NFL,Victor Abiamiri,DE,2007,2011,25.0,5,21.0
16,NFL,Oday Aboushi,OT,2013,2013,22.0,1,22.0
17,NFL,Clifton Abraham,DB,1995,1997,26.0,3,24.0
18,NFL,Donnie Abraham,DB,1995,1997,24.0,3,22.0
19,NFL,John Abraham,DE,1995,1997,19.0,3,17.0
24,NFL,Kevin Abrams,DB,1995,1997,23.0,3,21.0
93,NFL,Levy Adcock,T,2012,2012,24.0,1,24.0
94,NFL,Jahleel Addae,S,2013,2013,23.0,1,23.0
95,NFL,Joseph Addai,RB,2013,2013,30.0,1,30.0
98,NFL,Mario Addison,DE,2013,2013,24.0,1,24.0
101,NFL,Victor Adeyanju,DE,2006,2009,26.0,4,23.0
102,NFL,Xavier Adibi,LB,2008,2012,28.0,5,24.0
112,NFL,Daniel Adongo,LB,2013,2013,24.0,1,24.0
113,NFL,Al Afalava,DB,2009,2012,25.0,4,22.0
118,NFL,Louis Age,T,1992,1992,22.0,1,22.0
127,NFL,C.J. Ah You,DE,2009,2011,29.0,3,27.0
128,NFL,Chidi Ahanotu,DE,1993,2004,34.0,12,23.0
132,NFL,Danny Aiken,LS,2011,2013,25.0,3,23.0
133,NFL,Kamar Aiken,WR,2011,2013,24.0,3,22.0
134,NFL,Sam Aiken,WR,2011,2013,33.0,3,31.0
139,NFL,Victor Aiyewa,LB,2013,2013,26.0,1,26.0
140,NFL,Seyi Ajirotutu,WR,2010,2013,26.0,4,23.0
141,NFL,Hakim Akbar,LB,2001,2002,22.0,2,21.0
142,NFL,David Akers,K,1998,2013,39.0,16,24.0
149,NFL,Anthony Alabi,T,2006,2007,26.0,2,25.0

In [27]:
#next -> filter down to 5 positions (rb, qb, wr, lb, OT)
position_list = ['RB', 'QB', 'WR', 'LB', 'CB']
retired_nfl_df = nfl_df[nfl_df['position'].isin(position_list)]
retired_nfl_df.head(30)

,sport,name,position,year_start,year_end,retire_age,years_played,start_age
4,NFL,Karim Abdul-Jabbar,RB,1996,2000,26.0,5,22.0
8,NFL,Khalid Abdullah,LB,1996,2000,21.0,5,17.0
9,NFL,Rabih Abdullah,RB,1996,2000,25.0,5,21.0
10,NFL,Rahim Abdullah,LB,1996,2000,24.0,5,20.0
95,NFL,Joseph Addai,RB,2013,2013,30.0,1,30.0
102,NFL,Xavier Adibi,LB,2008,2012,28.0,5,24.0
112,NFL,Daniel Adongo,LB,2013,2013,24.0,1,24.0
133,NFL,Kamar Aiken,WR,2011,2013,24.0,3,22.0
134,NFL,Sam Aiken,WR,2011,2013,33.0,3,31.0
139,NFL,Victor Aiyewa,LB,2013,2013,26.0,1,26.0
140,NFL,Seyi Ajirotutu,WR,2010,2013,26.0,4,23.0
141,NFL,Hakim Akbar,LB,2001,2002,22.0,2,21.0
177,NFL,Arnold Ale,LB,1994,1996,26.0,3,24.0
178,NFL,Ink Aleaga,LB,1994,1996,23.0,3,21.0
187,NFL,Dan Alexander,RB,1994,1996,18.0,3,16.0
190,NFL,Derrick Alexander,WR,1994,1996,25.0,3,23.0
193,NFL,Elijah Alexander,LB,1994,1996,26.0,3,24.0
203,NFL,Kevin Alexander,WR,1994,1996,21.0,3,19.0
209,NFL,Patrise Alexander,LB,1994,1996,24.0,3,22.0
215,NFL,Shaun Alexander,RB,1994,1996,19.0,3,17.0
234,NFL,Charles Ali,RB,2007,2008,24.0,2,23.0
320,NFL,Jon Alston,LB,2006,2009,26.0,4,23.0
324,NFL,Richard Alston,WR,2006,2009,29.0,4,26.0
325,NFL,Mike Alstott,RB,2006,2009,36.0,4,33.0
354,NFL,Prince Amukamara,CB,2011,2013,24.0,3,22.0
523,NFL,Emmanuel Arceneaux,WR,2011,2011,24.0,1,24.0
525,NFL,Brandon Archer,LB,2011,2011,28.0,1,28.0
530,NFL,Mike Archie,RB,2011,2011,39.0,1,39.0
546,NFL,Justin Armour,WR,1999,2002,29.0,4,26.0
550,NFL,Jessie Armstead,LB,1999,2002,32.0,4,29.0

In [28]:
retired_nfl_df = retired_nfl_df.rename(columns={'name':'playerid','year_start':'start_year', 'year_end':'retire_year'})
retired_nfl_df.head()

,sport,playerid,position,start_year,retire_year,retire_age,years_played,start_age
4,NFL,Karim Abdul-Jabbar,RB,1996,2000,26.0,5,22.0
8,NFL,Khalid Abdullah,LB,1996,2000,21.0,5,17.0
9,NFL,Rabih Abdullah,RB,1996,2000,25.0,5,21.0
10,NFL,Rahim Abdullah,LB,1996,2000,24.0,5,20.0
95,NFL,Joseph Addai,RB,2013,2013,30.0,1,30.0

In [29]:
retired_nfl_df['retire_age'] = retired_nfl_df['retire_age'].map("{:.0f}".format)
retired_nfl_df['start_age'] = retired_nfl_df['start_age'].map("{:.0f}".format)

In [30]:
starting_nfl_df = retired_nfl_df[['playerid', 'sport', 'position', 'start_year', 'start_age', 'years_played']].copy()
retiring_nfl_df = retired_nfl_df[['playerid','sport', 'position', 'retire_year', 'retire_age', 'years_played']].copy()
starting_nfl_df.head()

              playerid sport position  start_year start_age  years_played
4   Karim Abdul-Jabbar   NFL       RB        1996        22             5
8      Khalid Abdullah   NFL       LB        1996        17             5
9       Rabih Abdullah   NFL       RB        1996        21             5
10      Rahim Abdullah   NFL       LB        1996        20             5
95        Joseph Addai   NFL       RB        2013        30             1

In [31]:
retiring_nfl_df = retiring_nfl_df.drop_duplicates(subset=['playerid'])
starting_nfl_df = starting_nfl_df.drop_duplicates(subset=['playerid'])

In [32]:
retiring_nfl_df.head()

              playerid sport position  retire_year retire_age  years_played
4   Karim Abdul-Jabbar   NFL       RB         2000         26             5
8      Khalid Abdullah   NFL       LB         2000         21             5
9       Rabih Abdullah   NFL       RB         2000         25             5
10      Rahim Abdullah   NFL       LB         2000         24             5
95        Joseph Addai   NFL       RB         2013         30             1

In [33]:
#Code for downloading the data
#starting_nfl_df.to_csv('../../Data/Clean_Data/clean_ start_nfl.csv', index=False)
#retiring_nfl_df.to_csv('../../Data/Clean_Data/clean_ retire_nfl.csv', index=False)

In [41]:

starting_nfl_df['start_age'] = starting_nfl_df['start_age'].astype('int64')
retiring_nfl_df['retire_age'] = retiring_nfl_df['retire_age'].astype('int64')

In [42]:
retiring_nfl_df.dtypes

playerid        object
sport           object
position        object
retire_year      int64
retire_age       int64
years_played     int64
dtype: object

In [43]:
#use if_exists=replace parameter to replace data if table already exists

starting_nfl_df.to_sql(
    name='nfl_starting',
    con=engine,
    index=False,
    if_exists='replace'
)

retiring_nfl_df.to_sql(
    name='nfl_retiring',
    con=engine,
    index=False,
    if_exists='replace'
)