In [4]:
# Import Dependencies
import pandas as pd
import numpy as np

# Export as CSV
nhl_start_df = pd.read_csv("../Data/Clean_Data/clean_start_nhl.csv", sep=",", encoding='latin-1')
nhl_start_df

,Player,sport,position,start_year,start_age,years_played
0,A.J. Greer\greeraj01,Hockey,2,2017,20,1
1,Aaron Downey\downeaa01,Hockey,3,2006,31,4
2,Aaron Ekblad\ekblaaa01,Hockey,4,2015,18,3
3,Aaron Gagnon\gagnoaa01,Hockey,1,2010,23,4
4,Aaron Gavey\gaveyaa01,Hockey,1,2006,31,1
...,...,...,...,...,...,...
2379,Zdenek Blatny\blatnzd01,Hockey,2,2006,25,1
2380,Zdeno Chara\charazd01,Hockey,4,2006,28,12
2381,Zemgus Girgensons\girgeze01,Hockey,1,2014,20,4
2382,Zenon Konopka\konopze01,Hockey,1,2006,25,9
2383,Ziggy Palffy\palffzi01,Hockey,3,2006,33,1